{% extends "base.html" %}

{% block title %}
Doctor Appointment
{% endblock %}

{% block content %}



<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow">

    <div class="container">

        <a class="navbar-brand fw-bold">
            🌿 Patient Dashboard
        </a>

        <div class="ms-auto">

            <span class="text-white me-3">
                Welcome, {{ session['user'] }}
            </span>

            <a href="/logout" class="btn btn-light btn-sm">
                Logout
            </a>

        </div>

    </div>

</nav>

<div class="container mt-5">
  <div class="card shadow p-4">

    <h2 class="text-center mb-4">🩺 Book Appointment</h2>

    <div class="row g-2">
      <div class="col-md-5">
        <input id="name" class="form-control" placeholder="Your Name">
      </div>

      <div class="col-md-5">
        <input id="doctor" class="form-control" placeholder="Doctor Name">
      </div>
      <div class="col-12 mt-2">
        <textarea id="symptoms" class="form-control" rows="3" placeholder="Describe your symptoms"></textarea>
      </div>

      <div class="col-md-5 mt-2">
        <input type="datetime-local" id="appointment_time" class="form-control">
      </div>

      <div class="col-md-2">
        <button class="btn btn-primary w-100" onclick="book()">Book</button>
      </div>
    </div>

    <hr>

    <div class="mt-4 mb-3">
      <input type="text" id="search" class="form-control" placeholder="Search by doctor..." onkeyup="load()">
    </div>

    <h4 class="mt-3">Appointments</h4>
    <ul id="list" class="list-group mt-2"></ul>

  </div>
  <!-- Add this below the form -->
  <div id="status" class="mt-3"></div>

</div>

<footer class="text-center mt-5 mb-3 text-muted">
  Built with Flask, PostgreSQL & Docker 🚀
</footer>


{% endblock %}